@import '../../assets/colors.scss';

.education-section {
  padding: 4%;
  background-color: $light-color;
  justify-content: center;
}

.section-title {
  font-family: 'Dancing Script', cursive;
  font-weight: 400; /* Light weight for cursive effect */
  font-size: 3.5rem;
  // font-weight: 600;
  color: $primary-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-line {
  flex-grow: 1; /* This will make the line extend across */
  height: 2px; /* Line thickness */
  background-color: $primary-color; /* Line color */
  margin-left: 2%;
}

.education-icon {
  font-size: 2rem;
  margin-right: 10px; /* Spacing between the icon and title */
}

.accordion {
  max-width: 50%; /* Fixed width for the accordion */
  margin: 0 auto; /* Center the accordion */
  // background-color: $white;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  margin-left: 18%;
  max-width: 60%;
  margin-top: 5%;
}

.accordion-header{
  font-size: 1.3rem;
  font-weight: normal;
  padding: 12px;
}

/* Override mat-expansion-panel styles */
.mat-expansion-panel {
  background-color: $white !important; /* Ensure the background is white when collapsed */
  border-radius: 6px;
}

.mat-expansion-panel-header.mat-expanded{
  background-color: $primary-color !important;
  color: $white;
}

::ng-deep .mat-expansion-panel-header {
  width: 100%;
  padding: 15px;
  background-color: $white;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  color: $primary-color;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

::ng-deep .mat-expansion-panel-header:hover {
  // background-color: darken($primary-color, 10%) !important;
  background-color: #bebaba !important;
}

::ng-deep .mat-expansion-panel-body {
  // background-color: $white; /* Background color for the expanded content */
  border-top: 1px solid $primary-color;
  color: $primary-color !important;
  display: block;
  .description{
    min-width: 20%;
  }
}

::ng-deep .mat-expansion-panel-body p {
  margin: 4%;
  color: $primary-color !important;
  display: block;
  .institution-title{
    font-size: 1.2rem;
  }
  min-width: 15%;
}

::ng-deep .mat-expansion-panel-header.mat-expansion-panel-header-focused {
  outline: none;
}

::ng-deep .mat-expansion-panel-header:focus {
  outline: none;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .title-line {
    width: 100%; /* Makes the line full-width on mobile */
    margin-top: 10px; /* Adds space below the title */
  }

  .accordion {
    padding: 2%;
  }

  .accordion-header {
    font-size: 1.1rem;
    padding: 12px;
  }

  .accordion-body {
    font-size: 1rem;
    padding: 12px;
    color: $primary-color !important;
    display: block;
    
  .institution-title{
    font-size: 1.2rem;
  }
  }
}

