<mat-accordion>
    <mat-expansion-panel *ngFor="let degree of educationList" [@fadeIn]="'in'" [style.animation-delay]="degree.delay">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <strong>{{ degree.title }}</strong>
        </mat-panel-title>
        <mat-panel-description>
          {{ degree.institution }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="panel-content">{{ degree.description }}</p>
    </mat-expansion-panel>
  </mat-accordion>
  