<div class="education-section">
  <h2 class="section-title">
    <i class="fas fa-graduation-cap education-icon"></i>
    Education
    <div class="title-line"></div> <!-- Line next to the title -->
  </h2>
  <mat-accordion>
    <mat-expansion-panel class="accordion-item" *ngFor="let education of educationList">
      <mat-expansion-panel-header class="accordion-header">
        {{ education.title }}
      </mat-expansion-panel-header>
      <mat-panel-description class="accordion-body">
        <p class="institution-title"><strong> {{ education.institution }} </strong></p>
        <p><strong> {{ education.duration }} </strong></p>
        <p class="description">{{ education.description }}</p>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
