@import '../../assets/colors.scss';

/* Basic Section Styling */
.projects-section {
  text-align: center;
}

.projects-header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  justify-content: center;
  color: $section-title;
}

.section-title {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 3.5rem;
  margin-right: 2%;
}

.projects-icon {
  font-size: 2rem;
  margin-right: 10px;
  margin-bottom: 1%;
  margin-left: 4%;
}

.title-line {
  flex-grow: 1;
  height: 2px;
  background-color: $title-line;
}

.tabs-container {
  width: 100%;
  overflow-x: auto;
  padding: 20px 0;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 10px 20px;
}

/* Individual tab styling */
.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #a55c9a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  // max-width: 90%;
  align-items: center;

  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.reverse-layout {
    flex-direction: row-reverse;
  }
}

.tab:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px #00000026;
  background-color: $primary-color;
  color: $white;

  h1 {
    color: $white;
  }

  .project-link {
    color: $white;
  }

  .view-btn {
    background-color: $white;
    color: $primary-color;
    font-weight: bold !important;
  }
}

.tab-header {
  flex: 1;
  max-width: 250px;

  .project-img {
    width: 250px;
    height: 220px;  
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

.tab-content {
  flex: 2;
  padding: 0 30px;

  h1 {
    // background: linear-gradient(90deg, pink, blue, purple, violet);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: $primary-color;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
  }
}

.project-link {
  text-align: left;
  font-size: 14px;
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}

.view-btn {
  align-self: flex-start;
  padding: 12px 20px;
  background-color: $primary-color;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  vertical-align: middle;
  margin: 6% auto 0 auto; /* top, right, bottom, left */
}

.view-btn:hover {
  background-color: $primary-color;
}

/* Mobile responsiveness */
@media (max-width: 767px) {
  .section-title {
    font-size: 2rem;
    margin-top: 30px;
    padding-right: 4%;
  }

  .title-line {
    width: 100%;
    margin-top: 20px;
  }

  .projects-icon {
    margin-top: 4%;
  }

  .tab,
  .tab.reverse-layout {
    flex-direction: column;
    text-align: center;

    .tab-content {
      padding: 20px 0;
    }
  }

  .tab {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
  }

  .tab-content h1 {
    font-size: 1.3rem;
  }

  .tab-content p {
    font-size: 1rem;
  }

  .view-btn {
    font-size: 0.9rem;
    margin: 6% auto 0 auto; /* top, right, bottom, left */
  }
}

/* Tablet to small laptop responsiveness (up to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-header {
    justify-content: flex-start;
  }

  .tabs {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab {
    // min-width: 100%;
    max-width: 100%;
  }

  .section-title {
    font-size: 2.2rem;
  }

  .title-line {
    width: 100%;
    margin-top: 10px;
  }

  .view-btn{
    margin: 12% auto 0 auto; /* top, right, bottom, left */
  }
}

@media only screen and (max-width: 480px) {
  .projects-header {
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .projects-icon {
    margin-top: 6%;
  }
}
