<div id="projects" class="projects-section">
  <div class="projects-header">
    <i class="fas fa-project-diagram projects-icon"></i>
    <h2 class="section-title">Projects</h2>
    <div class="title-line"></div>
  </div>

  <div class="tabs-container">
    <div class="tabs">
      <div
        class="tab"
        #projectTab
        *ngFor="let project of projects; let i = index"
        [ngClass]="{ 'reverse-layout': i % 2 !== 0 }"
      >
        <div class="tab-header">
          <img [src]="project.image" alt="Project Image" class="project-img" />
        </div>
        <div class="tab-content">
          <h1><strong> {{ project.title }} </strong></h1>
          <p>{{ project.description | slice: 0:100 }}...</p>
          <a class="project-link" (click)="openProjectInNewTab(project.id)">Read more</a>
        </div>
        <button class="view-btn" (click)="viewOnGithub(project)">GitHub</button>
      </div>
    </div>
  </div>
</div>
