@import '../../assets/colors.scss';

.skills-section {
    padding: 5%;
    background-color: $light-color;
    text-align: center;
  }

  .skills-header {
    display: flex;
    align-items: center;
    margin-bottom: 4%; /* Space below the title */
    justify-content: center; /* Centers the title and line on small screens */
  }
  
  .section-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 400; /* Light weight for cursive effect */
    font-size: 3.5rem;
    // font-weight: 600;
    // color: $primary-color;
    margin-bottom: 2%;
    margin-right: 2%;
    color: $primary-color;
  }

  .title-line {
    flex-grow: 1; /* This will make the line extend across */
    height: 2px; /* Line thickness */
    background-color: $primary-color; /* Line color */
    margin-bottom: 1%;
  }
  
  .skills-icon {
    font-size: 3rem;
    margin-right: 10px;
    // color: $primary-color;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }
  
  .skill-category {
    flex: 1 1 200px; /* Allow category to grow and shrink */
    padding: 20px;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .skill-category h3 {
    font-size: 1.3rem;
    color: $primary-color;
    margin-bottom: 15px;
  }
  
  .skill-category i {
    margin-right: 10px;
    color: $primary-color;
  }
  
  .skill-category ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skill-category ul li {
    font-size: 1rem;
    color: $dark-color;
    margin-bottom: 8px;
  }
  
  .skill-category ul li:hover {
    color: $primary-color;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .section-title {
      font-size: 2rem;
    }
  
    .skills-list {
      flex-direction: column;
      gap: 20px;
    }
  
    .skill-category {
      flex: 1 1 100%; /* Make categories take full width */
      padding: 15px;
    }
  
    .skill-category h3 {
      font-size: 1.5rem;
    }
  
    .skill-category ul li {
      font-size: 1rem;
    }
  }
  