<nav class="navbar">
  <div class="logo"></div>
  <button class="menu-btn" (click)="toggleMenu()">☰</button>
  <ul [class.open]="isMenuOpen">
    <li><a (click)="scrollToSection('home')">Home</a></li>
    <li><a (click)="scrollToSection('experience')">Experience</a></li>
    <li><a (click)="scrollToSection('projects')">Projects</a></li>
    <li><a (click)="scrollToSection('skills')">Skills</a></li>
    <li><a (click)="scrollToSection('contact')">Contact</a></li>
  </ul>
</nav>

<!-- <div class="portfolio_body"> -->
  <app-home></app-home>
  <app-work-experience></app-work-experience>
  <app-projects></app-projects>
  <app-education></app-education>
  <app-skills></app-skills>
  <app-contact></app-contact>
<!-- </div> -->