$fancy-gradient: linear-gradient(90deg, Indigo, Indigo, purple, #67295e);
$primary-color: #67295e;
$secondary-color: #6c757d;
$section-title: #67295e;
$title-line: #67295e;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white: #ffffff;
$black: #000000;