<section id="home" class="section">
  <div class="hero">
    <div class="hero-text">
      <h1>Hi, I'm Chandra Nikitha Balusu</h1>
      <p>Full-stack developer</p>
      <p>Experienced in Angular, skilled in .NET and SQL</p>
      <a href="https://www.linkedin.com/in/nikithabalusu/" target="_blank" class="btn btn-primary">LinkedIn</a>
      <a class="btn btn-secondary" (click)="viewResume()">Resume</a>
    </div>
    <div class="hero-image">
      <!-- <img [src]="profile?.profileImageUrl" alt="Profile Image" class="profile-img"> -->
    </div>
  </div>
</section>