<section id="home" class="section">
  <div class="hero">
    <div class="hero-text">
      <h1>Hi, I'm Chandra Nikitha Balusu</h1>
      <h2>profile.title</h2>
      <p>profile.bio</p>
      <a href="https://www.linkedin.com/in/nikithabalusu/" target="_blank" class="btn btn-primary">LinkedIn</a>
      <a class="btn btn-secondary" (click)="downloadResume()">Resume</a>
    </div>
    <div class="hero-image">
      <!-- <img [src]="profile?.profileImageUrl" alt="Profile Image" class="profile-img"> -->
    </div>
  </div>
</section>